.cuenta-sct {
    /* display: flex; */
    height: 60%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-content: center;
    max-width: 856px;
    box-shadow: 0 3px 15px -2px;
    border-radius: 15px;
    min-height: 658.188px;
    max-height: 658.188px;

}


.box-sct{
    width: 80% !important;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #d9d9d9;
    align-content: space-evenly;
}

.edit-button{
    background-color: transparent;
    color: hsl(0, 67%, 45%);
    padding: 1px 15px;
    border: 1px solid hsl(0, 67%, 45%);
    border-radius: 5px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    margin: 0 3px;
}

.edit-button:disabled{
    background-color: transparent;
    color: #888888;;
    padding: 1px 15px;
    border: 1px solid #888888;;
    border-radius: 5px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    margin: 0 3px;
}

.edit-button:disabled:hover{
    color: #888888;
    background-color: transparent;
    border: 1px solid #888888;;
}


.edit-button:hover{
    color: white;
    background-color:  hsl(0, 67%, 45%);
    border-color: hsl(0, 67%, 45%);
}

.profile-pic{
    width: 70px;
}

.profile-pic img{
    width: 100%;
    border-radius: 50px;
}

.content-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.component-wrapper{
    display: flex;
}