.footer {
    position: relative; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #282c34; 
    color: white;
    text-align: center;
    padding: 1rem; 
    width: 100vw; 
    margin-top: auto; 
}