.login_section{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interno{
    color: white;
    text-decoration: none;
    background-color: hsl(0, 67%, 45%);
    padding: 2.5px 15px;
    position: absolute;
    right: 40px;
    border: 2px white solid;
    border-radius: 8px;
}


.iniciar{
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 67%, 45%);
    color: white;
    transition-duration: .2s
}

